<% layout('layouts/Boilerplate')%>
<style>
    .text-center{
        font-family:cursive;
    }
</style>
<h1 class="text-center">Welcome to Book_Adda</h1>
<div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://m.media-amazon.com/images/I/817cSk-JTbS.jpg" class="d-block w-100" alt="..." style="width:800px; height:400px">
      </div>
      <div class="carousel-item ">
        <img src="https://themindtreasure.com/wp-content/uploads/2020/03/alchemist_book_cover.jpg" class="d-block w-100" alt="..." style="width:800px; height:400px">
      </div>
      <div class="carousel-item">
        <img src="https://www.bitgab.com/uploads/1496914105-DaVinciCodeangle-1496914105.jpg" class="d-block w-100" alt="..."style="width:800px; height:400px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="container-fluid px-0 mb-5">
    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
            <img src="https://images.unsplash.com/photo-1568667256531-7d5ac92eaa7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeSUyMGJvb2tzfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>About Book_Adda</h2>
                    <p class="lead">Ever wanted to buy a book but could not because it was too expensive? worry not! 
                        because Book_Adda is here! Book_Adda, these days in news,is being called as the Robinhood of the world of books.
                         Book_Adda team is committed to bring to you all kinds of best books at the minimal prices ever seen anywhere.
                          Yes, we are literally giving you away a steal.
                          Never will you even have to scan over the price tag again as you pretend to read the preface. Let the only thing that comes between you and the next book be the 5 books you are reading right now.
                           The books will always wait for you like loyal lovers with faithful hearts and the Book_Adda Team, promises to be the best wingman ever.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row align-items-center content">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>Why Book_Adda</h2>
                    <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                    <p class="lead">You may wonder why people prefer buying second hand books online.
                         Those days back in College, students would rather save a dollar or two for buying themselves a snack if they bought a second hand book.
                          Second hand books online are always cheaper and can save you a lot of money in the long run.
                           For example, if you bought five second hand books, there might be a chance the money you have saved on each second hand book can sum up to buy another book. 
                           Interesting, isn’t it?</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://thumbs.dreamstime.com/b/education-concept-happy-student-woman-thinking-having-interesting-idea-reading-book-library-173258702.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
            <img src="https://images.squarespace-cdn.com/content/v1/51dc1c1ee4b0c7a76cdb8427/1633294034706-RBWN88KRCXXNBXNV3G41/unsplash-image-wpMtTNPg6vk.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0 ">
                    <h2>Explore more</h2>
                    <p class="lead">Top 6 reasons for purchasing second hand books online
                        Posted By Peter MalabaJuly 10, 2021, 7:01 p.m.Top 6 reasons for purchasing second hand books online 
                        In a world with technology growing everyday, a lot of things or to be specific, services are migrating from being offline to online. It is said that an average of 62.07% of people across the world own mobile phones.
                         This makes buying books easier for you can simply buy a second-hand book online by a click of a button.</p>
                </div>
            </div>
        </div>
    </div>
</section>