
<footer class=" footer mt-auto text-center text-lg-start bg-dark text-muted   ">
    
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h4 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Book_Adda
            </h4>
            <p>
              We are here to help you to Buy or sell Used books.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            
            <p>
              <a href="/" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="/books" class="text-reset">Books</a>
            </p>
            <p>
              <a href="/books/new" class="text-reset">Sell</a>
            </p>
            <p>
              <a href="#!" class="text-reset">collections</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Security</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Know more</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Delhi,  201012, India</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              book_adda@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +91 7777888999</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +91 7777888990</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Book_Adda.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->